<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/mainIndex.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  </head>
  <body> 
    <header> 
      <section> <img src="/drassager/src/assests/drassager.png" alt="logo drassager"></section>
      <section> <img class="img_right" src="/drassager/src/assests/foscal.png" alt="logo clinica foscal"></section>
    </header>


    <main> 
      <h1>Bienvenido a Drassager </h1>
      <div> 
        <h2>Ingresar como </h2>

        <a href="/drassager/pagina-login/pagina_login-cx/index.html"><img class="img-btn" src="/drassager/src/assests/icono_enfermera.png" alt="icono">Programadora CX</a>
        <a href="/drassager/pagina-login/pagina_login-vigilancia/index.html"><img class="img-btn" src="/drassager/src/assests/icono_lupa.png" alt="logo">Vigilancia epidemiológica</a>
        <a href="/drassager/pagina-login/pagina_login-central/index.html"><img class="img-btn" src="/drassager/src/assests/icono_instrumentos.png" alt="logo">Central esterilización</a>

      </div>
    </main>
    <footer>
      <p>All rights reserved.</p>
    </footer>

  </body>
</html>