/* Rebot de estilos */

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    margin: 0;
    background-image: url(../assets/assests_global/v870-tang-36.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  /* Estilos implementados */
  
  header {
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
  
  }
  header img {
    width: 200px;
    margin: 10px 50px;
  }
  header .img_right {
    float: right;
  }
  main {
    width: 100%;
    height: 80vh;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  main h1 {
    margin-top: 150px;
    margin-left: 60px;
    font-size: 40px;
    font-weight: 700;
    color: black;
    opacity: 0.7;
  }
  
  main h2 {
    margin-left: 380px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 500;
  
  }
  
  main div {
    align-self: center;
    justify-self: center;
  }
  
  main div a {
    margin: 0 5px;
    padding: 20px 20px;
    font-size: 25px;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #5d5d5d;
  }
  
  main .img-btn {
    margin: -9px auto;
    width: 40px;
    
  }
  
  main div a:hover {
    transform: scale(0.9);
  }
  
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer p {
    grid-column: 2;
    margin: 0 auto;
    font-size: 12px;
  }
  
  /* hovers */
  
  main div a:hover {
    color: #006a96;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    transform: scale(0.95);
    transition: 0.3s;
  
  
  }