* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(/drassager/pagina-login/assests/fondos/cx.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.login {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: left;
    align-content: center;
}

.form-container {
    margin-left: 90px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 400px;
    height: 490px;
    background-color: #fff;
    border-radius: 15px;
}

.logo {
    margin: 30px;
    width: 200px;
    justify-self: center;
}
.form {
  margin: 15px 0 5px 10px;  
}

.form p {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    opacity: 0.5;
}


input {
    margin:  auto;
    padding: 7px;
    display: block;
    width: 85%;
    height: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.helps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}
.helps a {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}

.help-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.help-block input {
    margin: 7px 0;
}
.help-block p {
    margin-top: 5px;
    margin-left: -40px;
}

.btns{
    display: grid;
    justify-content: center;
    align-content: center;
}

.btns a {
    margin: 10px auto;
    padding: 6px 18px;
    display: block;
    color: #fff;
    background-color: #63a8db;
    text-decoration: none;
    border-radius: 5px;
}
.btn-login {
    padding: 15px 18px;
    display: block;
    color: #fff;
    background-color: #63a8db;

    text-decoration: none;
    border-radius: 5px;
}

/* hovers */
.btns a:hover {
    transform: scale(0.95);
    transition: 0.3s;
}